@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alata&family=Josefin+Sans:wght@300&display=swap');

@font-face {
  font-family: "Abyssinicaserif";
  src: url(./assets/fonts/Abyssinica_SIL/AbyssinicaSIL-Regular.ttf);
}

/* L'étoile donne du style à TOUS les éléments */
/* * {
  margin: 0;
  padding: 0;
  border: 2px solid red;
} */






body {
    font-family: 'Abyssinica SIL', serif;
    background-color: #800020; /* Bordeaux */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: hsl(0, 29%, 6%); /* Texte en blanc */
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    color: black;
    border: solid 3em blanchedalmond;
    border-radius: 30px;
  }
  
  .slides-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne en mode responsive */
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .slides-container .info {
    flex: 1;
    padding: 20px;
    max-width: 50%; /* Limitez la largeur pour les informations */
  }
  
  .slides-container img {
    width: 100%;
    border-radius: 2px;
  }
  
  .slides-container audio {
    width: 100%;
  }
  
  #navigation {
    text-align: center;
    padding: 20px;
  }
  
  button {
    background-color: hsl(17, 12%, 11%); /* Rouge orangé */
    color:antiquewhite; /* Bordeaux */;
    border: none;
    border-radius: 12px;
    opacity: 1;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: hsl(0, 100%, 50%); /* Rouge */
  }
  
  #play-pause {
    background-color: hsl(125, 28%, 27%); /* Vert plus foncé */
  }
  
  #play-pause:hover {
    background-color: teal;
  }
  
  /* Styles spécifiques pour les écrans de bureau */
  @media screen and (min-width: 576px) {
    .slides-container {
      height: auto; /* Ajustez la hauteur en fonction du contenu */
    }
    
    .slides-container .info {
      max-width: 100%; /* Utilisez toute la largeur disponible */
    }
  
    #slider {
      flex-direction: row; /* Rétablissez l'orientation horizontale */
    }
  
    #navigation {
      margin-top: 20px; /* Ajoutez de l'espace en haut */
    }
  }
  
  